/* Grid  */
.d-flex-between {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.column-1-4 {
    flex: 0 0 25%;
}
.column-1-3 {
    flex: 0 0 33.33%;
}
.column-1-2 {
    flex: 0 0 50%;
}
.column-2-3 {
    flex: 0 0 67.67%;
}
.column-3-4 {
    flex: 0 0 75%;
}

/* common styles */
.text-bold {font-weight: bold;}
.unstyled {list-style-type: none;padding: 0; margin: 0;}
.d-inline {display: inline;}

.pc-teacher-shortlistcourse-item:not(:last-of-type)::after {content: ","}


@media (max-width: 576px) {
    .d-flex-between {
        flex-direction: column;
    }
}